{% extends 'base.html.twig' %}

{% block title %} IS BBK - Zápasy U14 {% endblock %}

{% block body %}
    <div class="container">
        <div class="form-group">
            <h3>Zápasy U15</h3>
            <a href="{{ path('show-matches-u12') }}" class="btn btn-primary btn-sm" style="font-weight: bold">U12</a>
            <a href="{{ path('show-matches-u15') }}" class="btn btn-primary btn-sm" style="font-weight: bold">U15</a>
            <a href="{{ path('show-matches-u17') }}" class="btn btn-primary btn-sm" style="font-weight: bold">U17</a>
            <a href="{{ path('show-matches-u19/u20') }}" class="btn btn-primary btn-sm" style="font-weight: bold">U19/U20</a>

            <table class="margin-top-1"  id="table_matches_U11">
                <thead>
                <tr class="row align-center">
                    <th class="columns small-2 text-center">Kategorie</th>
                    <th class="columns small-2 text-center">Domácí tým</th>
                    <th class="columns small-2 text-center">Hostující tým</th>
                    <th class="columns small-2 text-center">Čas</th>
                    <th class="columns small-2 text-center">Adresa</th>
                </tr>
                </thead>
                <tbody id="table_matches_U11">
                {% for match in matches %}
                    <tr class="row align-center">
                        {% if match.categoryId == 2 %}
                            <td class="columns small-2 text-center">U11</td>
                        {% elseif match.categoryId == 3 %}
                            <td class="columns small-2 text-center">U14</td>
                        {% elseif match.categoryId == 4 %}
                            <td class="columns small-2 text-center">U17</td>
                        {% elseif match.categoryId == 5 %}
                            <td class="columns small-2 text-center">U19/U20</td>
                        {% endif %}
                        <td class="columns small-2 text-center">{{ match.homeTeam }}</td>
                        <td class="columns small-2 text-center">{{ match.awayTeam }}</td>
                        <td class="columns small-2 text-center">{{ match.matchTime| date('d.m.Y H:i')}}</td>
                        <td class="columns small-2 text-center">{{ match.address }}, {{ match.city }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a href="{{ path('show-matches') }}" class="btn btn-warning" style="font-weight: bold">Zpět</a>
            </div>
        </div>
    </div>
{% endblock %}