{% extends 'base.html.twig' %}

{% block title %} IS BBK - Detail zápasu {% endblock %}

{% block body %}
    <div class="content">
        <div class="grid-container">
            <h3 class="mt-1">Detail zápasu</h3>
            <div class="grid-x grid-padding-x">
                <div class="cell" style="width: 60%;">
                    <table class="unstriped">
                        <thead>
                            <th class="column medium-6 text-left">Zápas:</th>
                            <th class="text-right">{{ match.getHomeTeam() }} - {{ match.getAwayTeam() }}</th>
                        </thead>
                        <tablebody>
                            <tr>
                                <td class="column medium-6 text-left" style="width: 100%">Domácí tým:</td>
                                <td class="text-right">{{ match.getHomeTeam() }}</td>
                            </tr>
                            <tr>
                                <td class="column medium-6 text-left" style="width: 100%">Hostující tým:</td>
                                <td class="text-right">{{ match.getAwayTeam() }}</td>
                            </tr>
                            <tr>
                                <td class="column medium-6 text-left" style="width: 100%">Datum utkání:</td>
                                <td class="text-right">{{ match.getMatchTime() | format_datetime('long', 'none', locale='cs') }}</td>
                            </tr>
                            <tr>
                                <td class="column medium-6 text-left" style="width: 100%">Čas utkání:</td>
                                <td class="text-right">{{ match.getMatchTime() | format_datetime('none', 'short', locale='cs') }}</td>
                            </tr>
                            <tr>
                                <td class="column medium-6 text-left">Hala:</td>
                                <td class="text-right">{{ match.getVenue() }}</td>
                            </tr>
                            <tr>
                                <td class="column medium-6 text-left">Adresa:</td>
                                <td class="text-right">{{ match.getAddress() }}</td>
                            </tr>
                            <tr>
                                <td class="column medium-6 text-left">Město:</td>
                                <td class="text-right">{{ match.getCity() }}</td>
                            </tr>
                            <tr>
                                <td class="column medium-6 text-left">PSČ:</td>
                                <td class="text-right">{{ match.getPostalCode() }}</td>
                            </tr>
                        </tablebody>
                    </table>
                    <div class="text-center">
                        <a href="{{ path('show-matches') }}" class="btn btn-warning" style="font-weight: bold">Zpět</a>
                    </div>
                    <div class="cell large-3 medium-2"></div>
                </div>
                <div class="cell large-3 medium-2"></div>
            </div>
        </div>
    </div>
{% endblock %}