{% extends 'base.html.twig' %}

{% block title %} IS BBK - Statistiky hráče{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="cell">
            <h3>Statistiky hráče {{ app.user.getFirstName() }} {{ app.user.getLastName() }}</h3>
            <table class="unstriped"  id="table_user_statistics" style="margin-top: 2em">
                <thead>
                    <tr class="row align-center">
                        <th class="column small-2 text-center">Úspěšné TH</th>
                        <th class="column small-3 text-center">Neúspěšné TH</th>
                        <th class="column small-2 text-center">Dva body</th>
                        <th class="column small-2 text-center">Tři body</th>
                        <th class="column small-2 text-center">Body celkem</th>
                    </tr>
                </thead>
                <tbody id="table_user_statistics">
                {% for stats in statistics %}
                    <tr class="row align-center">
                        <td class="column small-2 text-center">{{ stats.successfulFt }}</td>
                        <td class="column small-3 text-center">{{ stats.unsuccessfulFt }}</td>
                        <td class="column small-2 text-center">{{ stats.twoPoints}}</td>
                        <td class="column small-2 text-center">{{ stats.threePoints }}</td>
                        <td class="column small-2 text-center">{{ stats.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}