{% extends 'base.html.twig' %}

{% block title %} IS BBK - Změnit heslo {% endblock %}

{% block body %}
    <div class="content">
        <div class="grid-container">
            <h3>Změnit heslo</h3>
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    {{ form_row(form.plainPassword, { 'attr': { 'placeholder': 'Min. 8 znaků. Musí obsahovat velké písmeno, malé písmeno a číslici'  }}) }}

                    <a href="{{ path('user-detail')}}" class="btn btn-warning" style="font-weight: bold">Zpět</a>
                    &nbsp;
                    {{ form_widget(form.save, { 'label': 'Uložit změny', 'attr': { 'class': 'btn btn-success', 'style': 'font-weight: bold' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}